<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="margin-left: 300px;">Clients List</h2>
  </div>
  <div class="panel-body" >
    <table class="table table-striped" style="width:100%;">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients | async">
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.emailId}}</td>
        <td><button (click)="deleteClient(client.id)" class="btn btn-danger">Delete</button>
          <button class='btn btn-info'
                  routerLink="update/{{client.id}}">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="clientupdateform" #updcli (ngSubmit)="updateCli(updcli)">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update client</h4>

        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngFor="let client of clientsList " >
          <div [hidden]="isupdated">

            <input type="hidden" class="form-control"  formControlName="client_id" [(ngModel)]="client.id">
            <div class="form-group">
              <label>Client Name</label>
              <input type="text" class="form-control"  formControlName="client_firstName" [(ngModel)]="client.firstName"  >
            </div>

            <div class="form-group">
              <label >Client LastName</label>
              <input type="text" class="form-control" formControlName="client_lastName" [(ngModel)]="client.lastName">
            </div>
            <div class="form-group">
              <label >Client Email</label>
              <input type="text" class="form-control" formControlName="client_emailId" [(ngModel)]="client.emailId">
            </div>

          </div>
          <div [hidden]="!isupdated">
            <h4>Client Detail Updated!</h4>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>

      </form>
    </div>
  </div>
</div>
